* {
    padding: 0;
    margin: 0;
    margin: 0 auto;
}

#container {
    display: flex;
    width: 480px;
    margin: 100px auto 10px auto;
}

#btn-container {
    flex: 0.8;
}
#text {
    flex: 0.2;
}
#canvas {
    background: #eeeeee;
    width: 480px;
    height: 200px;
    display: block;
    margin: 10px auto;
}